<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zyy.campuscommunity.mapper.PostMapper">
  <resultMap id="BaseResultMap" type="zyy.campuscommunity.entity.Post">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="post_user_id" jdbcType="INTEGER" property="postUserId" />
    <result column="post_user_name" jdbcType="VARCHAR" property="postUserName" />
    <result column="post_title" jdbcType="VARCHAR" property="postTitle" />
    <result column="post_tab_id" jdbcType="INTEGER" property="postTabId" />
    <result column="post_tab_name" jdbcType="VARCHAR" property="postTabName" />
    <result column="tab_parentid" jdbcType="INTEGER" property="tabParentid" />
    <result column="post_content" jdbcType="VARCHAR" property="postContent" />
    <result column="post_time" jdbcType="VARCHAR" property="postTime" />
    <result column="post_content_img" jdbcType="VARCHAR" property="postContentImg" />
    <result column="post_user_icon" jdbcType="VARCHAR" property="postUserIcon" />
    <result column="post_click_count" jdbcType="INTEGER" property="postClickCount" />
    <result column="post_reply_count" jdbcType="INTEGER" property="postReplyCount" />
    <result column="post_last_reply" jdbcType="VARCHAR" property="postLastReply" />
    <result column="post_last_reply_time" jdbcType="VARCHAR" property="postLastReplyTime" />
    <result column="post_last_reply_time_simple" jdbcType="VARCHAR" property="postLastReplyTimeSimple" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, post_user_id, post_user_name, post_title, post_tab_id, post_tab_name, tab_parentid, 
    post_content, post_time, post_content_img, post_user_icon, post_click_count, post_reply_count, 
    post_last_reply, post_last_reply_time, post_last_reply_time_simple
  </sql>
  <select id="selectByExample" parameterType="zyy.campuscommunity.entity.PostExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from post
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAllPost" resultMap="BaseResultMap">
    select
    *
    from post
  </select>

  <select id="getLastPostNum" resultType="java.lang.Integer">
    select
    max(id)
    from post
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from post
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="zyy.campuscommunity.entity.PostExample">
    delete from post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zyy.campuscommunity.entity.Post">
    insert into post (id, post_user_id, post_user_name, 
      post_title, post_tab_id, post_tab_name, 
      tab_parentid, post_content, post_time, 
      post_content_img, post_user_icon, post_click_count, 
      post_reply_count, post_last_reply, post_last_reply_time, 
      post_last_reply_time_simple)
    values (#{id,jdbcType=INTEGER}, #{postUserId,jdbcType=INTEGER}, #{postUserName,jdbcType=VARCHAR}, 
      #{postTitle,jdbcType=VARCHAR}, #{postTabId,jdbcType=INTEGER}, #{postTabName,jdbcType=VARCHAR}, 
      #{tabParentid,jdbcType=INTEGER}, #{postContent,jdbcType=VARCHAR}, #{postTime,jdbcType=VARCHAR}, 
      #{postContentImg,jdbcType=VARCHAR}, #{postUserIcon,jdbcType=VARCHAR}, #{postClickCount,jdbcType=INTEGER}, 
      #{postReplyCount,jdbcType=INTEGER}, #{postLastReply,jdbcType=VARCHAR}, #{postLastReplyTime,jdbcType=VARCHAR}, 
      #{postLastReplyTimeSimple,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zyy.campuscommunity.entity.Post">
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="postUserId != null">
        post_user_id,
      </if>
      <if test="postUserName != null">
        post_user_name,
      </if>
      <if test="postTitle != null">
        post_title,
      </if>
      <if test="postTabId != null">
        post_tab_id,
      </if>
      <if test="postTabName != null">
        post_tab_name,
      </if>
      <if test="tabParentid != null">
        tab_parentid,
      </if>
      <if test="postContent != null">
        post_content,
      </if>
      <if test="postTime != null">
        post_time,
      </if>
      <if test="postContentImg != null">
        post_content_img,
      </if>
      <if test="postUserIcon != null">
        post_user_icon,
      </if>
      <if test="postClickCount != null">
        post_click_count,
      </if>
      <if test="postReplyCount != null">
        post_reply_count,
      </if>
      <if test="postLastReply != null">
        post_last_reply,
      </if>
      <if test="postLastReplyTime != null">
        post_last_reply_time,
      </if>
      <if test="postLastReplyTimeSimple != null">
        post_last_reply_time_simple,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="postUserId != null">
        #{postUserId,jdbcType=INTEGER},
      </if>
      <if test="postUserName != null">
        #{postUserName,jdbcType=VARCHAR},
      </if>
      <if test="postTitle != null">
        #{postTitle,jdbcType=VARCHAR},
      </if>
      <if test="postTabId != null">
        #{postTabId,jdbcType=INTEGER},
      </if>
      <if test="postTabName != null">
        #{postTabName,jdbcType=VARCHAR},
      </if>
      <if test="tabParentid != null">
        #{tabParentid,jdbcType=INTEGER},
      </if>
      <if test="postContent != null">
        #{postContent,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null">
        #{postTime,jdbcType=VARCHAR},
      </if>
      <if test="postContentImg != null">
        #{postContentImg,jdbcType=VARCHAR},
      </if>
      <if test="postUserIcon != null">
        #{postUserIcon,jdbcType=VARCHAR},
      </if>
      <if test="postClickCount != null">
        #{postClickCount,jdbcType=INTEGER},
      </if>
      <if test="postReplyCount != null">
        #{postReplyCount,jdbcType=INTEGER},
      </if>
      <if test="postLastReply != null">
        #{postLastReply,jdbcType=VARCHAR},
      </if>
      <if test="postLastReplyTime != null">
        #{postLastReplyTime,jdbcType=VARCHAR},
      </if>
      <if test="postLastReplyTimeSimple != null">
        #{postLastReplyTimeSimple,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zyy.campuscommunity.entity.PostExample" resultType="java.lang.Long">
    select count(*) from post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update post
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.postUserId != null">
        post_user_id = #{record.postUserId,jdbcType=INTEGER},
      </if>
      <if test="record.postUserName != null">
        post_user_name = #{record.postUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.postTitle != null">
        post_title = #{record.postTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.postTabId != null">
        post_tab_id = #{record.postTabId,jdbcType=INTEGER},
      </if>
      <if test="record.postTabName != null">
        post_tab_name = #{record.postTabName,jdbcType=VARCHAR},
      </if>
      <if test="record.tabParentid != null">
        tab_parentid = #{record.tabParentid,jdbcType=INTEGER},
      </if>
      <if test="record.postContent != null">
        post_content = #{record.postContent,jdbcType=VARCHAR},
      </if>
      <if test="record.postTime != null">
        post_time = #{record.postTime,jdbcType=VARCHAR},
      </if>
      <if test="record.postContentImg != null">
        post_content_img = #{record.postContentImg,jdbcType=VARCHAR},
      </if>
      <if test="record.postUserIcon != null">
        post_user_icon = #{record.postUserIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.postClickCount != null">
        post_click_count = #{record.postClickCount,jdbcType=INTEGER},
      </if>
      <if test="record.postReplyCount != null">
        post_reply_count = #{record.postReplyCount,jdbcType=INTEGER},
      </if>
      <if test="record.postLastReply != null">
        post_last_reply = #{record.postLastReply,jdbcType=VARCHAR},
      </if>
      <if test="record.postLastReplyTime != null">
        post_last_reply_time = #{record.postLastReplyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.postLastReplyTimeSimple != null">
        post_last_reply_time_simple = #{record.postLastReplyTimeSimple,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update post
    set id = #{record.id,jdbcType=INTEGER},
      post_user_id = #{record.postUserId,jdbcType=INTEGER},
      post_user_name = #{record.postUserName,jdbcType=VARCHAR},
      post_title = #{record.postTitle,jdbcType=VARCHAR},
      post_tab_id = #{record.postTabId,jdbcType=INTEGER},
      post_tab_name = #{record.postTabName,jdbcType=VARCHAR},
      tab_parentid = #{record.tabParentid,jdbcType=INTEGER},
      post_content = #{record.postContent,jdbcType=VARCHAR},
      post_time = #{record.postTime,jdbcType=VARCHAR},
      post_content_img = #{record.postContentImg,jdbcType=VARCHAR},
      post_user_icon = #{record.postUserIcon,jdbcType=VARCHAR},
      post_click_count = #{record.postClickCount,jdbcType=INTEGER},
      post_reply_count = #{record.postReplyCount,jdbcType=INTEGER},
      post_last_reply = #{record.postLastReply,jdbcType=VARCHAR},
      post_last_reply_time = #{record.postLastReplyTime,jdbcType=VARCHAR},
      post_last_reply_time_simple = #{record.postLastReplyTimeSimple,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zyy.campuscommunity.entity.Post">
    update post
    <set>
      <if test="postUserId != null">
        post_user_id = #{postUserId,jdbcType=INTEGER},
      </if>
      <if test="postUserName != null">
        post_user_name = #{postUserName,jdbcType=VARCHAR},
      </if>
      <if test="postTitle != null">
        post_title = #{postTitle,jdbcType=VARCHAR},
      </if>
      <if test="postTabId != null">
        post_tab_id = #{postTabId,jdbcType=INTEGER},
      </if>
      <if test="postTabName != null">
        post_tab_name = #{postTabName,jdbcType=VARCHAR},
      </if>
      <if test="tabParentid != null">
        tab_parentid = #{tabParentid,jdbcType=INTEGER},
      </if>
      <if test="postContent != null">
        post_content = #{postContent,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null">
        post_time = #{postTime,jdbcType=VARCHAR},
      </if>
      <if test="postContentImg != null">
        post_content_img = #{postContentImg,jdbcType=VARCHAR},
      </if>
      <if test="postUserIcon != null">
        post_user_icon = #{postUserIcon,jdbcType=VARCHAR},
      </if>
      <if test="postClickCount != null">
        post_click_count = #{postClickCount,jdbcType=INTEGER},
      </if>
      <if test="postReplyCount != null">
        post_reply_count = #{postReplyCount,jdbcType=INTEGER},
      </if>
      <if test="postLastReply != null">
        post_last_reply = #{postLastReply,jdbcType=VARCHAR},
      </if>
      <if test="postLastReplyTime != null">
        post_last_reply_time = #{postLastReplyTime,jdbcType=VARCHAR},
      </if>
      <if test="postLastReplyTimeSimple != null">
        post_last_reply_time_simple = #{postLastReplyTimeSimple,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zyy.campuscommunity.entity.Post">
    update post
    set post_user_id = #{postUserId,jdbcType=INTEGER},
      post_user_name = #{postUserName,jdbcType=VARCHAR},
      post_title = #{postTitle,jdbcType=VARCHAR},
      post_tab_id = #{postTabId,jdbcType=INTEGER},
      post_tab_name = #{postTabName,jdbcType=VARCHAR},
      tab_parentid = #{tabParentid,jdbcType=INTEGER},
      post_content = #{postContent,jdbcType=VARCHAR},
      post_time = #{postTime,jdbcType=VARCHAR},
      post_content_img = #{postContentImg,jdbcType=VARCHAR},
      post_user_icon = #{postUserIcon,jdbcType=VARCHAR},
      post_click_count = #{postClickCount,jdbcType=INTEGER},
      post_reply_count = #{postReplyCount,jdbcType=INTEGER},
      post_last_reply = #{postLastReply,jdbcType=VARCHAR},
      post_last_reply_time = #{postLastReplyTime,jdbcType=VARCHAR},
      post_last_reply_time_simple = #{postLastReplyTimeSimple,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>