<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zyy.campuscommunity.mapper.UnreadMapper">
  <resultMap id="BaseResultMap" type="zyy.campuscommunity.entity.Unread">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="infocome_id" jdbcType="INTEGER" property="infocomeId" />
    <result column="infocome_name" jdbcType="VARCHAR" property="infocomeName" />
    <result column="infocome_time" jdbcType="VARCHAR" property="infocomeTime" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="post_title" jdbcType="VARCHAR" property="postTitle" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, info, infocome_id, infocome_name, infocome_time, post_id, post_title
  </sql>
  <select id="selectByExample" parameterType="zyy.campuscommunity.entity.UnreadExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from unread
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from unread
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAllUnRead" resultMap="BaseResultMap">
    select
    *
    from unread
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from unread
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="zyy.campuscommunity.entity.UnreadExample">
    delete from unread
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zyy.campuscommunity.entity.Unread">
    insert into unread (id, user_id, info, 
      infocome_id, infocome_name, infocome_time, 
      post_id, post_title)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, 
      #{infocomeId,jdbcType=INTEGER}, #{infocomeName,jdbcType=VARCHAR}, #{infocomeTime,jdbcType=VARCHAR}, 
      #{postId,jdbcType=INTEGER}, #{postTitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zyy.campuscommunity.entity.Unread">
    insert into unread
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="infocomeId != null">
        infocome_id,
      </if>
      <if test="infocomeName != null">
        infocome_name,
      </if>
      <if test="infocomeTime != null">
        infocome_time,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="postTitle != null">
        post_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="infocomeId != null">
        #{infocomeId,jdbcType=INTEGER},
      </if>
      <if test="infocomeName != null">
        #{infocomeName,jdbcType=VARCHAR},
      </if>
      <if test="infocomeTime != null">
        #{infocomeTime,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="postTitle != null">
        #{postTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zyy.campuscommunity.entity.UnreadExample" resultType="java.lang.Long">
    select count(*) from unread
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update unread
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.info != null">
        info = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.infocomeId != null">
        infocome_id = #{record.infocomeId,jdbcType=INTEGER},
      </if>
      <if test="record.infocomeName != null">
        infocome_name = #{record.infocomeName,jdbcType=VARCHAR},
      </if>
      <if test="record.infocomeTime != null">
        infocome_time = #{record.infocomeTime,jdbcType=VARCHAR},
      </if>
      <if test="record.postId != null">
        post_id = #{record.postId,jdbcType=INTEGER},
      </if>
      <if test="record.postTitle != null">
        post_title = #{record.postTitle,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update unread
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      info = #{record.info,jdbcType=VARCHAR},
      infocome_id = #{record.infocomeId,jdbcType=INTEGER},
      infocome_name = #{record.infocomeName,jdbcType=VARCHAR},
      infocome_time = #{record.infocomeTime,jdbcType=VARCHAR},
      post_id = #{record.postId,jdbcType=INTEGER},
      post_title = #{record.postTitle,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zyy.campuscommunity.entity.Unread">
    update unread
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="infocomeId != null">
        infocome_id = #{infocomeId,jdbcType=INTEGER},
      </if>
      <if test="infocomeName != null">
        infocome_name = #{infocomeName,jdbcType=VARCHAR},
      </if>
      <if test="infocomeTime != null">
        infocome_time = #{infocomeTime,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        post_id = #{postId,jdbcType=INTEGER},
      </if>
      <if test="postTitle != null">
        post_title = #{postTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zyy.campuscommunity.entity.Unread">
    update unread
    set user_id = #{userId,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR},
      infocome_id = #{infocomeId,jdbcType=INTEGER},
      infocome_name = #{infocomeName,jdbcType=VARCHAR},
      infocome_time = #{infocomeTime,jdbcType=VARCHAR},
      post_id = #{postId,jdbcType=INTEGER},
      post_title = #{postTitle,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>